.store-product-img > img{
    width: 25vh;
}

.price {
    font-size: 4vh;
    padding: 20px 38px 0 20px;
}

.product-name {
    padding-right: 15px;
    padding-top: 15px;
}

.move-action {
    color: #0070c9;
}
