.store-product-img > img{
    width: 25vh;
}

.price {
    font-size: 2vh;
    padding: 10px 38px 0 20px;
}

.product-name {
    padding-right: 15px;
    padding-top: 15px;
}

.move-action {
    color: #51cbce;
}

.merchant-logo-image {
    border-radius: 10vh;
    width: 70%;
    border: double 4.5px #cccccc
}

.store-product-img {
    height: 13vh;
}

.same-product {
    margin: auto;
}