.box-product-info {
    display: flex;
}

.info-product-detail {;
}



.same-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.same-product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price-table-title {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.list-same-products {
    padding-left: 15px;
    padding-right: 15px;
}