.product-info{
    padding-top: 30vh;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.button-move{
    width: fit-content;
    float: right;
}
.col-md-6 {
    padding: 0;
    margin: auto;
}

.product-img > img {
    width: 100%;
}

.product-price-detail {
    font-size: 3vh;
    padding: 0vh 2vh;
    font-weight: 800;
}

.product-price-detail :hover {
    color: #51bcda;
}

.info-content {
    display: flex;
    /*wrap allow xuong dong*/
    flex-wrap: wrap;
    justify-content: center;
}

.priority-store {
    display: flex;
    /*wrap allow xuong dong*/
    flex-wrap: wrap;
    justify-content: center;
}

.priority-store > span{
    padding-top: 1vh
}

.product-detail-name {
    min-width: 40vh;
}

.product-detail-name > h1 {
    font-size: 1.6em;
    font-weight: 900;
}

.brand-name {
    font-size: 1.2em;
    color: #0070c9!important;
    cursor: pointer;
}

.brand-box {
    padding: 2vh 0vh;
}

.company-logo{
    width: 17%;
}

.company-logo-image{
    border-radius: 20vh;
    width: 70%;
    border: double 4.5px #cccccc
}

.list-same-products {
    margin: auto;
}