.product-info{
    padding-top: 12%;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

.button-move{
    width: fit-content;
    float: right;
}
.col-md-6 {
    padding: 0;
    margin: auto;
}

.product-img > img {
    width: 100%;
}

.product-price-detail {
    font-size: 3vh;
    padding: 0vh 2vh;
}

.product-price-detail :hover {
    color: #51bcda;
}

.priority-store {
    display: flex;
    /*wrap allow xuong dong*/
    flex-wrap: wrap;
    justify-content: center;
}

.product-detail-name {
    min-width: 40vh;
}

.product-detail-name > h1 {
    font-size: 1.6em;
    font-weight: 900;
}