.box-product .product-detail{
    color: black;
}

.box-product .product-price{
    font-weight: 600;
}

.box-product .product-img{
    display: flex;
    justify-content: center;
}
.box-product .product-img img{
    width: 200px;
}
.box-product .btn-sosanhgia >div{
    border:2px solid #51bcda;
    display: inline-block;
    padding: 5px;
    margin: 20px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s;
    color: #51bcda;
    font-weight: 500;
}

.box-product .btn-sosanhgia >div:hover{
    color: white;
    background-color: #51bcda;
}
.box-product {
    margin: 15px 0;
    padding: 15px 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    min-height: 45vh;
    transition: transform .4s ease;
}

.box-product:hover {
    transform: scale(1.05);
}

